body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f6f9; /* Light gray, similar to LinkedIn's background */
}

header {
    background: #005582; /* Deep blue color similar to the LinkedIn primary color */
    color: #ffffff; /* White text for the header, including the title */
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* White links for contrast against the deep blue background */
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff; /* White section background for readability */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

article {
    margin-bottom: 20px;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adds space between the text and image */
}

.about-me-photo {
    width: 150px; /* Adjust as needed */
    height: auto;
    border-radius: 50%; /* Make it circular */
    margin-right: 20px; /* Space between the image and text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: soft shadow for depth */
}

.about-me-text {
    flex: 1;
}

.project-image-container {
    text-align: center; /* Center-align the container content */
}

.project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for images */
    margin-bottom: 15px; /* Space between the image and text */
}

.support-note {
    font-weight: bold;
}

h1:first-of-type {
    font-size: 3em; /* Adjust as needed to make it larger */
}

h1:nth-of-type(2) {
    font-size: 2em; /* Adjust as needed to make it smaller */
}

h1, h2, h3, h4 {
    color: #ffffff; /* White for headings inside the header */
}

h2, h3, h4 {
    color: #005582; /* Deep blue for headings in other sections */
}

a {
    color: #005582; /* Deep blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline links on hover for emphasis */
}
/* Sticky Buy Me a Coffee Button */
#buy-coffee-sticky {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensures it stays above other elements */
}
  
#buy-coffee-sticky img {
    width: 150px; /* Adjust the size as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
  
#buy-coffee-sticky img:hover {
    transform: scale(1.1); /* Adds a nice hover effect */
}  
